

<div class="create-form">
  <div class="form">
    <div class="create-title">
      ログイン
    </div>
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

      <div class="form-template">
        <%= f.label :メールアドレス, class:"form-label" %>
        <%= f.text_field :email, class:"form-control" %>
      </div>
    
      <div class="form-template">
        <%= f.label :パスワード, class:"form-label" %>
        <%= f.password_field :password, class:"form-control" %>
      </div>
      
      <%= f.label :remember_me, class:"form-label" do %>
        <span>自動ログインを有効にする</span>
        <%= f.check_box :remember_me %>
      <% end %>

      <div class="create_btn">
        <%= f.submit "ログイン", class:"btn btn-primary mb-3" %>
      </div>


    <% end %>
      <div class="session_new_login">
        会員登録がお済みでない方は<%= link_to "こちら", new_user_path %>から
      </div>
      
  </div>
</div>
