<% provide(:title, "新規会員登録") %>
<div class="create-form">
  <div class="form">
    <div class="create-title">
      新規会員登録
    </div>
    <%= form_with(model: @user, local: true) do |f| %>

      <%= render 'shared/error_form', object: f.object %>

      <p class="form-required"><span>※</span>は必須項目です</p>

      <div class="form-template">
        <%= f.label :お名前, class:"form-label" %><p>※</p>
        <% if @user.errors.include?(:name) %>
          <div class="form-alert"><%= @user.errors.full_messages_for(:name).first %></div>
        <% end %>
        <%= f.text_field :name, class:"form-control", placeholder: "例：穂高　太郎" %>
      </div>

      <div class="form-template">
        <%= f.label :メールアドレス, class:"form-label" %><p>※</p>
        <% if @user.errors.include?(:email) %>
          <div class="form-alert"><%= @user.errors.full_messages_for(:email).first %></div>
        <% end %>
        <%= f.text_field :email, class:"form-control", placeholder: "例：hotaka@kyodo.com" %>
      </div>

      <div class="form-template">
        <%= f.label :パスワード, class:"form-label" %><p>※</p>
        <% if @user.errors.include?(:password) %>
          <div class="form-alert"><%= @user.errors.full_messages_for(:password).first %></div>
        <% else %>
          <% if @user.errors.include?(:password_confirmation) %>
            <div class="form-alert"><%= @user.errors.full_messages_for(:password_confirmation).first %></div>
          <% end %>
        <% end %>
        <%= f.password_field :password, class:"form-control", placeholder: "6文字以上" %>
      </div>
    
      <div class="form-template">
        <%= f.label :パスワード（確認用）, class:"form-label" %><p>※</p>
        <%= f.password_field :password_confirmation, class:"form-control" %>
      </div>

      <div class="create_btn">
        <%= f.submit "登録", class:"btn btn-primary mb-3" %>
      </div>
    <% end %>
  </div>
</div>
