<%= provide(:title, "お知らせ一覧") %>
<div class="sp-page">
  <div class="news">
    <div class="page-title">お知らせ一覧</div>
    <% @microposts.each do |micropost| %>
      <%= link_to micropost, class:"news-content" do %>
        <div class="news-date"><%= micropost.created_at.to_s(:datetime_jp) %></div>
        <div class="news-title">
          <%= micropost.title%>
          <% if micropost.created_at + 1.week > Date.today %>
            <div class="new-arrival">new</div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= paginate @microposts %>
  <div class="link">
    <%= link_to "TOPへ戻る", '/' %>
  </div>
</div>
