<div class="create_user">
  お知らせ投稿
</div>

<div class="create_form">
  <div class="form">
    <%= form_with(model: @micropost, local: true) do |f| %>

      <%= render 'shared/error_form', object: f.object %>

      <%= f.label :タイトル, class:"form-label" %>
      <%= f.text_field :title, class:"form-control title-form" %>

      <%= f.label :投稿内容, class:"form-label" %>
      <%= f.text_area :content, class:"form-control content-form"%>
      
      <%= f.label :画像アップロード, class:"form-label" %>
      <%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
    
      <div class="create_btn">
        <%= f.submit "投稿", class:"btn btn-primary mb-3" %>
      </div>
    <% end %>
  </div>
</div>
