
<div class="title">
  <h1><%= link_to "(株)穂高共同食品", "/" %></h1>
  <h2>虹鱒、岩魚、信州サーモンの加工と販売</h2>
</div>
<button type="button" style="cursor: pointer;" class="menu-btn js-btn">
  <span class="btn-line"></span>
</button>
<nav class= "nav-list">
  <ul class="menu">
    <li class="menu-list"><%= link_to "TOP", "/" %></li>
    <li class="menu-list"><%= link_to "お知らせ一覧", "/microposts" %></li>
    <li class="menu-list"><%= link_to "会社概要", "/about" %></li>
    <li class="menu-list"><%= link_to "お問い合わせ", "/contact" %></li>
    <li class="menu-list"><%= link_to "アクセス", "/access" %></li>
  </ul>
</nav>

<div class="flash-notifications">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: key) %>
  <% end %>
</div>