<!DOCTYPE html>
<html>
  <head>
    <title>穂高共同食品 | <%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  </head>

  <header>
    <%= render 'layouts/header' %>
  </header>
  
  <body>
    <div class="space"></div>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>

  <footer>
    <%= render 'layouts/footer' %>
  </footer>
  <div class="copyright">
    <p><span>© 2021 HOTAKA KYOUDOU SYOKUHIN</span><span>（Co. Ltd.）All Rights Reserved</span></p>
  </div>
</html>


<script>
  $(function () {
      $('.js-btn').on('click', function () {        // js-btnクラスをクリックすると、
    $('.menu , .btn-line, body').toggleClass('open');
    })
  });
</script>

